
<footer class="fixed-bottom">
    <!-- Grid container-->
    <div class="contanier p-3"></div>

    <!-- Copyright -->
    <div class="align-content-center p-3 copyright">
        Copyright © 2022 FakeStandard
        <a class="text-white" href="https://github.com/FakeStandard" target="_blank">GitHub</a>
    </div>
</footer>
