@inherits LayoutComponentBase

<main>
    <div class="top-row fixed-top">
        <h6>1A2B 猜數字 - Bulls and Cows</h6>
    </div>

    <article class="content">
        @Body
    </article>

    <Footer />
</main>
